transformers
transformers[sentencepiece]
datasets
sacrebleu
rouge_score
py7zr
pandas
nltk
tqdm
PyYAML
matplotlib
torch
notebook
boto3
mypy-boto3-s3
python-box==6.0.2
ensure==1.0.2
git+https://github.com/tiangolo/fastapi.git@main#egg=fastapi
git+https://github.com/encode/uvicorn.git@main#egg=uvicorn
Jinja2==3.1.2
-e .
